#cloud-config
package_update: true

write_files:
  - path: /etc/rancher/rke2/config.yaml
    content: |
      server: ${server_url}
      token: ${rke2_token}
      node-label:
        - "node-type=worker"
    permissions: '0600'

runcmd:
  - curl -sfL https://get.rke2.io | INSTALL_RKE2_TYPE="agent" sh -
  - systemctl enable rke2-agent.service
  - systemctl start rke2-agent.service