#cloud-config
package_update: true

packages:
  - curl
  - wget

write_files:
  - path: /etc/rancher/rke2/config.yaml
    content: |
      token: ${rke2_token}
      %{ if server_url != "" }server: ${server_url}%{ endif }
      tls-san:
        - ${server_url}
      node-taint:
        - "${node_taint}"
      cni: ${cni}
      cluster-cidr: ${cluster_cidr}
      service-cidr: ${service_cidr}
      etcd-expose-metrics: true
    permissions: '0600'

runcmd:
  - curl -sfL https://get.rke2.io | INSTALL_RKE2_TYPE="server" sh -
  - systemctl enable rke2-server.service
  - systemctl start rke2-server.service
  - mkdir -p /home/ubuntu/.kube
  - cp /etc/rancher/rke2/rke2.yaml /home/ubuntu/.kube/config
  - chown ubuntu:ubuntu /home/ubuntu/.kube/config